In [11]:
import pandas as pd
import re

In [17]:

def extract_pad(well):
    # If well starts with 2 digits and 1 letter (e.g. '15W'), pad = '1' + digits (-> '115')
    m1 = re.match(r'^(\d{2})([A-Za-z])', well)
    if m1:
        return '1' + m1.group(1)
    # If well starts with 2 digits, 2 letters, and 1 digit (e.g. '7WP'), pad = '1' + digits (-> '107')
    m2 = re.match(r'^(\d)([A-Za-z]{2})', well)
    if m2:
        return '10' + m2.group(1)
    # If well starts with 2 digits, 1 letter, 1 letter, and 1 digit (e.g. '16W'), pad = '1' + digits (-> '116')
    m3 = re.match(r'^(\d{2})([A-Za-z]{1})', well)
    if m3:
        return '1' + m3.group(1)
    # If well starts with 3 digits (e.g. '106W13'), pad = those digits
    m4 = re.match(r'^(\d{3})', well)
    if m4:
        return m4.group(1)
    # Otherwise, fallback to first 3 chars
    return well[:3]

In [22]:

def filter_target_pads(df, target_pads=None):
    """
    Returns a DataFrame filtered to only include rows with pad in target_pads.
    Pads are strings, e.g. ['105', '106', '107', '108', '116']
    """
    if target_pads is None:
        target_pads = ['105', '106', '107', '108', '116']
    return df[df['pad'].astype(str).isin(target_pads)].reset_index(drop=True)

In [18]:
# Load the CSV file into a DataFrame
df_event_pg = pd.read_csv('well_event_pg_values.csv', parse_dates=['timestamp'])
df_event_pg['pad'] = df_event_pg['well'].apply(extract_pad)

In [19]:
df_event_pg['pad'].unique()

array(['101', '102', '103', '104', '109', '131', '105', '106', '107',
       '108', '118', '123', '110', '114', '115', '116', '117', '121'],
      dtype=object)

In [20]:

# Check the unique pads
print("Pads in data:", df_event_pg['pad'].unique())

# Create a dictionary of DataFrames, one per pad
pad_dfs = {}
for pad in df_event_pg['pad'].unique():
    pad_dfs[pad] = df_event_pg[df_event_pg['pad'] == pad].reset_index(drop=True)

# Example: show the first few rows for each pad
for pad, df in pad_dfs.items():
    print(f"\nPad: {pad}")
    print(df.head())

Pads in data: ['101' '102' '103' '104' '109' '131' '105' '106' '107' '108' '118' '123'
 '110' '114' '115' '116' '117' '121']

Pad: 101
   pad    well       event_type           timestamp  pad_pg_value
0  101  101N01  101N01 +2.16 hz 2025-08-11 23:37:00     -0.075807
1  101  101N01  101N01 +2.11 hz 2025-08-12 02:07:00    145.449478
2  101  101N01  101N01 +2.22 hz 2025-08-13 06:01:00    118.137741
3  101  101N01  101N01 +2.05 hz 2025-08-15 03:01:00    132.282852
4  101  101N01  101N01 +2.39 hz 2025-08-16 04:19:00      0.030052

Pad: 102
   pad    well       event_type           timestamp  pad_pg_value
0  102  102N01     102N01 start 2025-08-11 13:25:00    128.996918
1  102  102N07       102N07 NFE 2025-08-13 19:07:00    160.089569
2  102  102N07       102N07 NFE 2025-08-18 16:31:00     -0.075807
3  102  102N08       102N08 NFE 2025-08-15 14:31:00    124.948509
4  102  102N08  102N08 +7.96 hz 2025-08-16 08:01:00     -0.074377

Pad: 103
   pad    well       event_type           timestamp  pad_pg_value
0  103  103N02      103N02 trip 2025-08-11 10:07:00    158.879318
1  103  103N02     103N02 start 2025-08-11 16:55:00    217.607010
2  103  103N02  103N02 +2.14 hz 2025-08-12 19:43:00    157.916580
3  103  103N02  103N02 +2.61 hz 2025-08-12 20:07:00    110.028038
4  103  103N02   103N02 +2.0 hz 2025-08-12 20:19:00    151.689468

Pad: 104
   pad    well    event_type           timestamp  pad_pg_value
0  104  104N02   104N02 trip 2025-08-12 00:55:00    136.399933
1  104  104N02  104N02 start 2025-08-12 23:07:00    135.555908
2  104  104N02   104N02 trip 2025-08-13 13:13:00    105.250061
3  104  104N02  104N02 start 2025-08-13 15:07:00    163.748856
4  104  104N02   104N02 trip 2025-08-13 16:25:00     -0.075807

Pad: 109
   pad    well    event_type           timestamp  pad_pg_value
0  109  109W05    109W05 NFE 2025-08-17 11:19:00    142.242218
1  109  109W05   109W05 trip 2025-08-17 17:31:00     98.103119
2  109  109W05  109W05 start 2025-08-17 22:07:00    141.921783
3  109  109W05    109W05 NFE 2025-08-17 23:07:00    137.678818
4  109  109W05   109W05 trip 2025-08-18 07:13:00     -0.075807

Pad: 131
   pad    well       event_type           timestamp  pad_pg_value
0  131  131P01  131P01 +2.02 hz 2025-08-15 17:31:00    123.469330
1  131  131P01   131P01 +3.1 hz 2025-08-16 14:31:00    127.127205
2  131  131P01  131P01 +2.16 hz 2025-08-17 14:07:00    175.341904
3  131  131P01  131P01 +2.02 hz 2025-08-20 05:19:00    131.015396
4  131  131P02  131P02 +2.14 hz 2025-08-16 07:49:00    137.359818

Pad: 105
   pad    well        event_type           timestamp  pad_pg_value
0  105  105N01        105N01 NFE 2025-08-16 13:55:00    136.892029
1  105  105N01  105N01 +15.98 hz 2025-08-16 19:49:00    144.495316
2  105  105N01       105N01 trip 2025-08-16 21:31:00    144.498169
3  105  105N01      105N01 start 2025-08-17 07:31:00    164.150833
4  105  105N01        105N01 NFE 2025-08-17 12:07:00    109.674698

Pad: 106
   pad    well       event_type           timestamp  pad_pg_value
0  106  106W13  106W13 +2.43 hz 2025-08-11 15:49:00    106.870850
1  106  106W13  106W13 +2.26 hz 2025-08-11 21:43:00    172.685394
2  106  106W13  106W13 +2.02 hz 2025-08-12 14:55:00     -0.104418
3  106  106W13  106W13 +2.17 hz 2025-08-12 17:37:00    128.577774
4  106  106W13  106W13 +2.26 hz 2025-08-12 21:19:00    167.933167

Pad: 107
   pad   well   event_type           timestamp  pad_pg_value
0  107  7WP05  7WP05 start 2025-08-11 07:37:00    104.959663
1  107  7WP05   7WP05 trip 2025-08-11 09:31:00    124.138817
2  107  7WP05  7WP05 start 2025-08-11 16:01:00     -0.135889
3  107  7WP05   7WP05 trip 2025-08-11 19:31:00    136.216827
4  107  7WP05  7WP05 start 2025-08-13 08:19:00    120.542473

Pad: 108
   pad    well        event_type           timestamp  pad_pg_value
0  108  108P04  108P04 +11.23 hz 2025-08-17 20:19:00    184.701874
1  108  108P04       108P04 trip 2025-08-18 06:19:00     -0.074377
2  108  108P04      108P04 start 2025-08-18 06:49:00    179.560547
3  108  108P06  108P06 +16.19 hz 2025-08-13 15:25:00      0.005733
4  108  108P08       108P08 trip 2025-08-17 18:31:00     -0.050057

Pad: 118
   pad    well    event_type           timestamp  pad_pg_value
0  118  118W05  118W05 start 2025-08-13 12:49:00    130.022614
1  118  118W06   118W06 trip 2025-08-12 02:55:00    144.491028
2  118  118W06  118W06 start 2025-08-12 03:01:00    128.099976
3  118  118W06   118W06 trip 2025-08-12 03:07:00    117.721458
4  118  118W06  118W06 start 2025-08-12 05:13:00     -0.138751

Pad: 123
   pad    well        event_type           timestamp  pad_pg_value
0  123  123W09        123W09 NFE 2025-08-11 06:01:00      5.215735
1  123  123W09  123W09 +15.08 hz 2025-08-11 10:37:00    117.966072
2  123  123W09  123W09 +19.89 hz 2025-08-12 06:25:00     -0.098696
3  123  123W09  123W09 +15.91 hz 2025-08-12 09:01:00    109.993706
4  123  123W09        123W09 NFE 2025-08-14 13:01:00    117.692848

Pad: 110
   pad    well       event_type           timestamp  pad_pg_value
0  110  110W04       110W04 NFE 2025-08-12 22:43:00    135.997955
1  110  110W04      110W04 trip 2025-08-13 03:43:00    128.233002
2  110  110W04  110W04 +5.05 hz 2025-08-13 03:43:00    128.233002
3  110  110W04     110W04 start 2025-08-13 07:43:00    121.729813
4  110  110W12      110W12 trip 2025-08-12 00:37:00     -0.041474

Pad: 114
   pad    well       event_type           timestamp  pad_pg_value
0  114  114P09  114P09 +3.09 hz 2025-08-11 14:25:00    152.778122
1  114  114P09       114P09 NFE 2025-08-13 18:07:00     -0.021447
2  114  114P09      114P09 trip 2025-08-13 23:25:00    178.835617
3  114  114P09      114P09 trip 2025-08-13 23:55:00    159.191177
4  114  114P09     114P09 start 2025-08-14 07:25:00    131.065460

Pad: 115
   pad    well       event_type           timestamp  pad_pg_value
0  115  15WP03   15WP03 +2.0 hz 2025-08-15 10:07:00    126.183052
1  115  15WP03   15WP03 +2.0 hz 2025-08-15 10:31:00    129.185745
2  115  15WP03  15WP03 +2.02 hz 2025-08-15 10:49:00    158.661880
3  115  15WP03  15WP03 +2.02 hz 2025-08-15 14:31:00    124.948509
4  115  15WP03  15WP03 +2.02 hz 2025-08-15 14:49:00    130.426025

Pad: 116
   pad    well    event_type           timestamp  pad_pg_value
0  116  16WP03   16WP03 trip 2025-08-11 23:49:00     -0.264637
1  116  16WP03   16WP03 trip 2025-08-11 23:55:00    113.488518
2  116  16WP03  16WP03 start 2025-08-12 07:19:00     -0.048627
3  116  16WP03    16WP03 NFE 2025-08-12 07:31:00    145.266373
4  116  16WP03   16WP03 trip 2025-08-12 12:49:00    115.624290

Pad: 117
   pad    well       event_type           timestamp  pad_pg_value
0  117  117W02      117W02 trip 2025-08-14 11:07:00     -0.048627
1  117  117W02     117W02 start 2025-08-14 12:07:00    123.290520
2  117  117W05       117W05 NFE 2025-08-18 08:37:00    154.915314
3  117  117W05  117W05 +8.25 hz 2025-08-18 13:31:00    175.064392
4  117  117W08       117W08 NFE 2025-08-14 06:01:00    113.286812

Pad: 121
   pad    well    event_type           timestamp  pad_pg_value
0  121  121W02   121W02 trip 2025-08-13 06:31:00    121.874298
1  121  121W02   121W02 trip 2025-08-13 07:01:00    115.189407
2  121  121W02  121W02 start 2025-08-13 11:37:00     98.426430
3  121  121W02   121W02 trip 2025-08-13 15:31:00    121.751259
4  121  121W02   121W02 trip 2025-08-13 15:37:00    171.981583

In [21]:
# Show a quick summary for each pad's DataFrame
for pad, df in pad_dfs.items():
    print(f"\nPad: {pad}")
    print(df.describe(include='all'))
    print(df.info())

Pad: 101
        pad    well       event_type                      timestamp  \
count    13      13               13                             13
unique    1       4               13                            NaN
top     101  101N01  101N01 +2.16 hz                            NaN
freq     13       5                1                            NaN
mean    NaN     NaN              NaN  2025-08-16 07:25:55.384615424
min     NaN     NaN              NaN            2025-08-11 23:37:00
25%     NaN     NaN              NaN            2025-08-15 00:37:00
50%     NaN     NaN              NaN            2025-08-16 04:19:00
75%     NaN     NaN              NaN            2025-08-19 09:55:00
max     NaN     NaN              NaN            2025-08-20 10:37:00
std     NaN     NaN              NaN                            NaN

        pad_pg_value
count      13.000000
unique           NaN
top              NaN
freq             NaN
mean      102.358078
min        -0.075807
25%       111.929230
50%       124.436386
75%       137.359818
max       167.102036
std        60.074608
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           13 non-null     object
 1   well          13 non-null     object
 2   event_type    13 non-null     object
 3   timestamp     13 non-null     datetime64[ns]
 4   pad_pg_value  13 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 652.0+ bytes
None

Pad: 102
        pad    well  event_type            timestamp  pad_pg_value
count     8       8           8                    8      8.000000
unique    1       3           6                  NaN           NaN
top     102  102N08  102N07 NFE                  NaN           NaN
freq      8       5           2                  NaN           NaN
mean    NaN     NaN         NaN  2025-08-16 22:42:15    100.999773
min     NaN     NaN         NaN  2025-08-11 13:25:00     -0.075807
25%     NaN     NaN         NaN  2025-08-15 03:40:00     93.692788
50%     NaN     NaN         NaN  2025-08-17 12:16:00    129.486160
75%     NaN     NaN         NaN  2025-08-19 13:41:30    131.331184
max     NaN     NaN         NaN  2025-08-20 03:43:00    160.089569
std     NaN     NaN         NaN                  NaN     63.308515
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           8 non-null      object
 1   well          8 non-null      object
 2   event_type    8 non-null      object
 3   timestamp     8 non-null      datetime64[ns]
 4   pad_pg_value  8 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 452.0+ bytes
None

Pad: 103
        pad    well      event_type                      timestamp  \
count    32      32              32                             32
unique    1       6              11                            NaN
top     103  103W06  103W06 +3.0 hz                            NaN
freq     32      21              19                            NaN
mean    NaN     NaN             NaN  2025-08-16 16:12:03.750000128
min     NaN     NaN             NaN            2025-08-11 10:07:00
25%     NaN     NaN             NaN            2025-08-14 17:28:00
50%     NaN     NaN             NaN            2025-08-17 04:46:00
75%     NaN     NaN             NaN            2025-08-18 20:41:30
max     NaN     NaN             NaN            2025-08-19 22:07:00
std     NaN     NaN             NaN                            NaN

        pad_pg_value
count      32.000000
unique           NaN
top              NaN
freq             NaN
mean      119.307737
min        -0.130167
25%       111.902761
50%       132.249954
75%       153.320267
max       217.607010
std        57.319035
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           32 non-null     object
 1   well          32 non-null     object
 2   event_type    32 non-null     object
 3   timestamp     32 non-null     datetime64[ns]
 4   pad_pg_value  32 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.4+ KB
None

Pad: 104
        pad    well   event_type                      timestamp  pad_pg_value
count    35      35           35                             35     35.000000
unique    1      10           21                            NaN           NaN
top     104  104W04  104N02 trip                            NaN           NaN
freq     35       7            3                            NaN           NaN
mean    NaN     NaN          NaN  2025-08-15 16:28:46.285714176    107.585061
min     NaN     NaN          NaN            2025-08-11 09:43:00     -0.098696
25%     NaN     NaN          NaN            2025-08-13 04:58:00    105.584091
50%     NaN     NaN          NaN            2025-08-15 03:43:00    123.715378
75%     NaN     NaN          NaN            2025-08-18 13:19:00    137.526466
max     NaN     NaN          NaN            2025-08-19 10:07:00    172.616730
std     NaN     NaN          NaN                            NaN     52.575772
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           35 non-null     object
 1   well          35 non-null     object
 2   event_type    35 non-null     object
 3   timestamp     35 non-null     datetime64[ns]
 4   pad_pg_value  35 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.5+ KB
None

Pad: 109
        pad    well  event_type            timestamp  pad_pg_value
count    10      10          10                   10     10.000000
unique    1       3           7                  NaN           NaN
top     109  109W05  109W05 NFE                  NaN           NaN
freq     10       6           2                  NaN           NaN
mean    NaN     NaN         NaN  2025-08-18 00:07:36     97.071418
min     NaN     NaN         NaN  2025-08-11 10:07:00     -0.102987
25%     NaN     NaN         NaN  2025-08-17 18:40:00     24.468924
50%     NaN     NaN         NaN  2025-08-18 03:10:00    133.391510
75%     NaN     NaN         NaN  2025-08-19 16:55:00    142.162109
max     NaN     NaN         NaN  2025-08-20 07:25:00    163.062210
std     NaN     NaN         NaN                  NaN     69.302526
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           10 non-null     object
 1   well          10 non-null     object
 2   event_type    10 non-null     object
 3   timestamp     10 non-null     datetime64[ns]
 4   pad_pg_value  10 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 532.0+ bytes
None

Pad: 131
        pad    well       event_type            timestamp  pad_pg_value
count    27      27               27                   27     27.000000
unique    1       3               22                  NaN           NaN
top     131  131P07  131P07 +2.02 hz                  NaN           NaN
freq     27      21                3                  NaN           NaN
mean    NaN     NaN              NaN  2025-08-15 23:15:00    109.865548
min     NaN     NaN              NaN  2025-08-11 08:49:00     -0.107279
25%     NaN     NaN              NaN  2025-08-13 10:55:00    109.779129
50%     NaN     NaN              NaN  2025-08-16 07:49:00    123.469330
75%     NaN     NaN              NaN  2025-08-18 09:01:00    134.187607
max     NaN     NaN              NaN  2025-08-20 05:31:00    175.341904
std     NaN     NaN              NaN                  NaN     49.840989
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           27 non-null     object
 1   well          27 non-null     object
 2   event_type    27 non-null     object
 3   timestamp     27 non-null     datetime64[ns]
 4   pad_pg_value  27 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB
None

Pad: 105
        pad    well   event_type                      timestamp  pad_pg_value
count    47      47           47                             47     47.000000
unique    1       9           28                            NaN           NaN
top     105  105W07  105W07 trip                            NaN           NaN
freq     47      14            5                            NaN           NaN
mean    NaN     NaN          NaN  2025-08-15 10:08:39.574467840    117.918798
min     NaN     NaN          NaN            2025-08-11 13:49:00     -0.130167
25%     NaN     NaN          NaN            2025-08-13 07:22:00    113.001415
50%     NaN     NaN          NaN            2025-08-16 00:49:00    132.743500
75%     NaN     NaN          NaN            2025-08-17 12:43:00    151.127975
max     NaN     NaN          NaN            2025-08-18 12:49:00    172.685394
std     NaN     NaN          NaN                            NaN     52.916020
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           47 non-null     object
 1   well          47 non-null     object
 2   event_type    47 non-null     object
 3   timestamp     47 non-null     datetime64[ns]
 4   pad_pg_value  47 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 2.0+ KB
None

Pad: 106
        pad    well    event_type                      timestamp  pad_pg_value
count    85      85            85                             85     85.000000
unique    1       7            55                            NaN           NaN
top     106  106W16  106W15 start                            NaN           NaN
freq     85      46             5                            NaN           NaN
mean    NaN     NaN           NaN  2025-08-16 08:34:19.058823680    113.220889
min     NaN     NaN           NaN            2025-08-11 06:01:00     -0.104418
25%     NaN     NaN           NaN            2025-08-14 12:55:00    112.854782
50%     NaN     NaN           NaN            2025-08-16 20:37:00    127.642204
75%     NaN     NaN           NaN            2025-08-18 14:07:00    142.242218
max     NaN     NaN           NaN            2025-08-20 11:25:00    184.422928
std     NaN     NaN           NaN                            NaN     53.564719
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           85 non-null     object
 1   well          85 non-null     object
 2   event_type    85 non-null     object
 3   timestamp     85 non-null     datetime64[ns]
 4   pad_pg_value  85 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 3.4+ KB
None

Pad: 107
        pad   well   event_type                      timestamp  pad_pg_value
count    42     42           42                             42     42.000000
unique    1      7           23                            NaN           NaN
top     107  7WP05  7WP05 start                            NaN           NaN
freq     42     15            6                            NaN           NaN
mean    NaN    NaN          NaN  2025-08-16 03:12:17.142857216    105.593325
min     NaN    NaN          NaN            2025-08-11 07:37:00     -0.135889
25%     NaN    NaN          NaN            2025-08-11 20:22:00    100.630518
50%     NaN    NaN          NaN            2025-08-16 22:49:00    123.989330
75%     NaN    NaN          NaN            2025-08-19 20:47:30    145.943016
max     NaN    NaN          NaN            2025-08-20 08:19:00    197.576675
std     NaN    NaN          NaN                            NaN     63.658754
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           42 non-null     object
 1   well          42 non-null     object
 2   event_type    42 non-null     object
 3   timestamp     42 non-null     datetime64[ns]
 4   pad_pg_value  42 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.8+ KB
None

Pad: 108
        pad    well   event_type                      timestamp  pad_pg_value
count    46      46           46                             46     46.000000
unique    1       6           24                            NaN           NaN
top     108  108P14  108P14 trip                            NaN           NaN
freq     46      21           10                            NaN           NaN
mean    NaN     NaN          NaN  2025-08-15 14:53:18.260869632    109.379083
min     NaN     NaN          NaN            2025-08-11 07:13:00     -0.237457
25%     NaN     NaN          NaN            2025-08-13 21:23:30    114.628288
50%     NaN     NaN          NaN            2025-08-15 05:55:00    126.405499
75%     NaN     NaN          NaN            2025-08-17 18:25:00    139.508488
max     NaN     NaN          NaN            2025-08-20 09:01:00    185.015167
std     NaN     NaN          NaN                            NaN     57.746602
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           46 non-null     object
 1   well          46 non-null     object
 2   event_type    46 non-null     object
 3   timestamp     46 non-null     datetime64[ns]
 4   pad_pg_value  46 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.9+ KB
None

Pad: 118
        pad    well  event_type                      timestamp  pad_pg_value
count    27      27          27                             27     27.000000
unique    1       8          19                            NaN           NaN
top     118  118W06  118W13 NFE                            NaN           NaN
freq     27       7           4                            NaN           NaN
mean    NaN     NaN         NaN  2025-08-15 21:18:59.999999744    102.459502
min     NaN     NaN         NaN            2025-08-11 06:13:00     -0.138751
25%     NaN     NaN         NaN            2025-08-12 21:13:00    104.702648
50%     NaN     NaN         NaN            2025-08-15 17:55:00    120.631165
75%     NaN     NaN         NaN            2025-08-18 19:31:00    135.585243
max     NaN     NaN         NaN            2025-08-20 11:01:00    164.608612
std     NaN     NaN         NaN                            NaN     57.411630
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           27 non-null     object
 1   well          27 non-null     object
 2   event_type    27 non-null     object
 3   timestamp     27 non-null     datetime64[ns]
 4   pad_pg_value  27 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.2+ KB
None

Pad: 123
        pad    well  event_type            timestamp  pad_pg_value
count     9       9           9                    9      9.000000
unique    1       1           7                  NaN           NaN
top     123  123W09  123W09 NFE                  NaN           NaN
freq      9       9           3                  NaN           NaN
mean    NaN     NaN         NaN  2025-08-14 12:13:00    100.773449
min     NaN     NaN         NaN  2025-08-11 06:01:00     -0.098696
25%     NaN     NaN         NaN  2025-08-12 06:25:00    109.993706
50%     NaN     NaN         NaN  2025-08-14 13:01:00    117.220772
75%     NaN     NaN         NaN  2025-08-15 08:13:00    117.966072
max     NaN     NaN         NaN  2025-08-19 10:49:00    173.433563
std     NaN     NaN         NaN                  NaN     59.723991
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           9 non-null      object
 1   well          9 non-null      object
 2   event_type    9 non-null      object
 3   timestamp     9 non-null      datetime64[ns]
 4   pad_pg_value  9 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 492.0+ bytes
None

Pad: 110
        pad    well   event_type            timestamp  pad_pg_value
count     8       8            8                    8      8.000000
unique    1       2            6                  NaN           NaN
top     110  110W04  110W12 trip                  NaN           NaN
freq      8       4            2                  NaN           NaN
mean    NaN     NaN          NaN  2025-08-12 15:32:30    109.402188
min     NaN     NaN          NaN  2025-08-12 00:37:00     -0.041474
25%     NaN     NaN          NaN  2025-08-12 05:04:00    114.792440
50%     NaN     NaN          NaN  2025-08-12 14:40:00    124.981407
75%     NaN     NaN          NaN  2025-08-13 03:43:00    129.404255
max     NaN     NaN          NaN  2025-08-13 07:43:00    135.997955
std     NaN     NaN          NaN                  NaN     44.955838
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           8 non-null      object
 1   well          8 non-null      object
 2   event_type    8 non-null      object
 3   timestamp     8 non-null      datetime64[ns]
 4   pad_pg_value  8 non-null      float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 452.0+ bytes
None

Pad: 114
        pad    well   event_type                      timestamp  pad_pg_value
count    18      18           18                             18     18.000000
unique    1       3           17                            NaN           NaN
top     114  114P11  114P09 trip                            NaN           NaN
freq     18       9            2                            NaN           NaN
mean    NaN     NaN          NaN  2025-08-16 04:34:20.000000256    101.170523
min     NaN     NaN          NaN            2025-08-11 14:25:00     -0.155917
25%     NaN     NaN          NaN            2025-08-14 01:47:30     28.639646
50%     NaN     NaN          NaN            2025-08-16 00:13:00    133.393661
75%     NaN     NaN          NaN            2025-08-18 06:11:30    145.495255
max     NaN     NaN          NaN            2025-08-19 23:25:00    178.835617
std     NaN     NaN          NaN                            NaN     66.437671
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pad           18 non-null     object
 1   well          18 non-null     object
 2   event_type    18 non-null     object
 3   timestamp     18 non-null     datetime64[ns]
 4   pad_pg_value  18 non-null     float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 852.0+ bytes
None

Pad: 115
        pad    well  event_type                      timestamp  pad_pg_value
count    19      19          19                             19     19.000000
unique    1       2           8                            NaN           NaN
top     115  15WP08  15WP08 NFE                            NaN           NaN

In [23]:
df_target_pads = filter_target_pads(df_event_pg)
print("Pads in filtered data:", df_target_pads['pad'].unique())
print(df_target_pads.head())

Pads in filtered data: ['105' '106' '107' '108' '116']
   pad    well        event_type           timestamp  pad_pg_value
0  105  105N01        105N01 NFE 2025-08-16 13:55:00    136.892029
1  105  105N01  105N01 +15.98 hz 2025-08-16 19:49:00    144.495316
2  105  105N01       105N01 trip 2025-08-16 21:31:00    144.498169
3  105  105N01      105N01 start 2025-08-17 07:31:00    164.150833
4  105  105N01        105N01 NFE 2025-08-17 12:07:00    109.674698

In [32]:
# df_target_pads['pad'].describe()
# df_target_pads['well'].describe()
# df_target_pads['event_type'].describe()
df_target_pads['pad_pg_value'].describe()

count    248.000000
mean     113.296730
std       55.171213
min       -0.264637
25%      112.981377
50%      127.415466
75%      144.515697
max      197.576675
Name: pad_pg_value, dtype: float64

In [25]:
def estimate_well_pg_from_events(df_pad):
    """
    For a pad's event DataFrame (must include pad_pg_value), 
    estimate well-level PG by attributing PG delta between events to the well that triggered the event.
    Returns a DataFrame: pad, well, event_type, timestamp, delta_pg, pg_before, pg_after
    """
    results = []
    events = df_pad.sort_values('timestamp').reset_index(drop=True)
    for i, row in events.iterrows():
        well = row['well']
        event_type = row['event_type']
        ts = row['timestamp']
        pg_before = row['pad_pg_value']
        # Find PG value at next event (or None if last event)
        if i + 1 < len(events):
            pg_after = events.loc[i + 1, 'pad_pg_value']
        else:
            pg_after = None
        # Calculate delta PG (change in pad PG between events)
        delta_pg = pg_after - pg_before if pg_after is not None else None
        results.append({
            'pad': row['pad'],
            'well': well,
            'event_type': event_type,
            'timestamp': ts,
            'pg_before': pg_before,
            'pg_after': pg_after,
            'delta_pg': delta_pg
        })
    return pd.DataFrame(results)

In [26]:

# Apply for each pad in your filtered DataFrame
well_pg_records = []
for pad in df_target_pads['pad'].unique():
    df_pad_events = df_target_pads[df_target_pads['pad'] == pad].sort_values('timestamp').reset_index(drop=True)
    df_est_pg = estimate_well_pg_from_events(df_pad_events)
    well_pg_records.append(df_est_pg)

df_well_pg = pd.concat(well_pg_records).reset_index(drop=True)
print(df_well_pg.head())

# Save to CSV
df_well_pg.to_csv('estimated_well_pg.csv', index=False)
print("Saved estimated well PG values to estimated_well_pg.csv")

   pad    well    event_type           timestamp   pg_before    pg_after  \
0  105  105W03    105W03 NFE 2025-08-11 13:49:00  132.743500   -0.105848
1  105  105W18  105W18 start 2025-08-11 16:31:00   -0.105848   -0.105848
2  105  105W14  105W14 start 2025-08-11 16:31:00   -0.105848  118.695648
3  105  105W14   105W14 trip 2025-08-11 17:07:00  118.695648  133.371109
4  105  105W03   105W03 trip 2025-08-11 18:25:00  133.371109  150.343338

     delta_pg
0 -132.849348
1    0.000000
2  118.801496
3   14.675461
4   16.972229
Saved estimated well PG values to estimated_well_pg.csv

In [27]:
df_well_pg.describe()

                           timestamp   pg_before    pg_after    delta_pg
count                            248  248.000000  243.000000  243.000000
mean   2025-08-15 17:05:05.322580480  113.296730  113.441053    0.977048
min              2025-08-11 06:01:00   -0.264637   -0.264637 -185.112432
25%              2025-08-12 22:26:30  112.981377  113.200970  -24.935631
50%              2025-08-15 19:43:00  127.415466  127.503448    0.000000
75%              2025-08-18 01:19:00  144.515697  144.533226   27.304588
max              2025-08-20 11:25:00  197.576675  197.576675  197.683954
std                              NaN   55.171213   55.171329   79.550064

In [33]:
import matplotlib.pyplot as plt
import seaborn as sns

# Boxplot for each pad's wells
for pad in df_well_pg['pad'].unique():
    df_pad = df_well_pg[df_well_pg['pad'] == pad]
    plt.figure(figsize=(10, 6))
    sns.boxplot(x='well', y='delta_pg', data=df_pad)
    plt.title(f'Pad {pad} - Well Produced Gas Distribution (m3/hr)')
    plt.ylabel('Produced Gas Delta (m3/hr)')
    plt.xlabel('Well')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

    # Table of min, max, avg for each well
    stats = df_pad.groupby('well')['delta_pg'].agg(['min', 'max', 'mean']).reset_index()
    print(f"\nPad {pad} - Well PG Stats (m3/hr):")
    print(stats)

ModuleNotFoundError: No module named 'seaborn'

TODO: 
- categorize by the highest producing gas wells (top 20%) then med, then lowest. 
- then rank the pads in terms of their gas produced